/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2014, 9:50:46 PM
    Author     : jcauw_000
*/
h2 {
    font-size: 1.4em;
    margin-left: 20%;
    margin-bottom: 10px;
}

p {
    margin-left: 20%;
}
form {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    width: 80%;
}

form p {
    line-height: 150%;
    margin-left: 0%;
    margin-bottom: 5px;
}

label {
    display: inline-block;
    vertical-align: middle;
    width: 25%
}

input, select {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: #ddd;
    padding: 3px 10px;
}

select{
    margin: 0px;
}

input[type="submit"] {
    background-color: #3333ff;
    color: white;
    font-weight: bold;
}
p .error {
    font-size: .9em;
    color: red;
    font-weight: bold;
}